<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/game-grid.css">
    <link rel="stylesheet" href="/css/general.css">
</head>

<body>
    <div class="wrapper">
        <div class="grid-games">

            <% games.forEach(game => { %>


            <div class="single-grid-box">
                <div class="grid-box-img">
                    <img src="/img/games/<%- game.img%>" alt="">
                </div>
                <div class="grid-box-content">
                    <p class="grid-box-date"><%- dateAndTime.format(game.releaseDate, 'MMMM DD, YYYY') %></p>
                    <h2 class="grid-box-header"><%- game.name%></h2>
                    <div class="grid-box-genre">
                        <% game.genres.forEach(genre => { %>
                            <a href="/store/genre/<%- genre.name.toLowerCase().replace(" ","_")%>"><%- genre.name%></a>
                        <% }); %>
                    </div>
                    <p class="grid-box-textcontent"><%- game.description%></p>
                    <p class="grid-box-price"><%- game.price%>$</p>
                </div>
            </div>
            <% }); %>



        </div>
    </div>
</body>

</html>