<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <%- include('partials/header')%>
    <%- include('partials/home-top-banner')%>

    <div class="wrapper">
        <%- include('partials/blogpost')%>
    </div>
    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>

</html>