<%- include("partials/head") %>

<%- include("partials/header") %>

<%- include("partials/underside-banner") %>

<div class="wrapper">

	<img src="/img/games/<%= game.img %>" alt="Picture of game" id="gamePic">

	<div id="gameContainer">
		<div class="gameInfo">
			<p class="gameCategory">Kategori 1</p>
			<p class="gameCategory">Kategori 2</p>
			<p class="gameDate"><%- dateAndTime.format(game.releaseDate, 'MMMM DD, YYYY') %></p>
			<h3 class="gameTitle"><%= game.name %></h3>
			<p class="gameSummary"><%= game.description %></p>
			<p class="gamePrice">$<%= game.price %></p>
		</div>
		<div class="gameNews">
			<h4 class="newsTitle">Latest News about <%= game.name %></h3>
			<a href="#" class="allNews">All News</a>
			<div class="newsArticle">
				<p class="articleTitle"><%= article.title %></p>
				<p class="articleText"><%= article.description %></p>
				<img src="/img/games/ark.jpg" alt="" class="articleImage">
			</div>
		</div>
	</div>

</div>

<%- include("partials/footer") %>