<!DOCTYPE html>
<html lang="en">

<body>
	<%- include("partials/head") %>

	<%- include("partials/header") %>

	<%- include("partials/underside-banner") %>

	<div class="wrapper">

		<%- include("partials/gameslider") %>

		<div id="gameContainer">
			<div class="gameInfo">
				<div class="gameCategoriesandDate">
					<div>
						<% genres.forEach(genre => { %>
						<a class="gameCategory"
							href="/store/genre/<%- genre.name.toLowerCase().replace(" ","_")%>"><%- genre.name%></a>
						<% }); %>
					</div>
					<p class="gameDate">Released: <%- dateAndTime.format(game.releaseDate, 'MMMM DD, YYYY') %></p>
				</div>
				<h2 class="gameTitle"><%= game.name %></h2>
				<p class="gameSummary"><%= game.text %></p>
				<div class="gamePrice">
					<p>Price: $<%= game.price %></p>
					<button class="button button--success">BUY</button>
				</div>
			</div>
			<h4 class="gameNews">
				<div class="news__header">
					<h4 class="newsTitle">Latest Game News</h4>
					<a href="/newsPosts/<%= game.id %>" class="allNews">All Game News</a>
				</div>
				<% articles.forEach(article => { %>
				<div class="newsArticle">
					<div class="articleLeft">
						<a href="/singlepost/<%-article.articleID%>"> <p class="articleTitle"><%= article.title %></p></a>
						<p class="articleDate"><%- dateAndTime.format(article.postTime, 'MMMM DD, YYYY HH:mm') %>
						</p>
						<a href="/singlepost/<%-article.articleID%>" class="articleLink">Full Article</a>
					</div>
					<div class="articleRight">
							<a href="/singlepost/<%-article.articleID%>"><img src="/img/games/<%= game.img %>" class="articleImage"></a>
					</div>
				</div>
				<% }) %>
		</div>
	</div>

	</div>
	<%- include("partials/footer") %>
	<%- include("partials/scripts") %>
</body>

</html>