<!DOCTYPE html>
<html lang="en">

<body>
	<%- include("partials/head") %>

	<%- include("partials/header") %>

	<%- include("partials/underside-banner") %>

	<div class="wrapper">

		<%- include("partials/gameslider") %>

		<div id="gameContainer">
			<div class="gameInfo">
				<div class="gameCategoriesandDate">
					<div>
						<% genres.forEach(genre => { %>
						<a class="gameCategory"
							href="/store/genre/<%- genre.name.toLowerCase().replace(" ","_")%>"><%- genre.name%></a>
						<% }); %>
					</div>
					<p class="gameDate"><%- dateAndTime.format(game.releaseDate, 'MMMM DD, YYYY') %></p>
				</div>
				<h2 class="gameTitle"><%= game.name %></h2>
				<p class="gameSummary"><%= game.text %></p>
				<p class="gamePrice"><%= game.price %></p>
			</div>
			<h4 class="gameNews">
				<div class="news__header">
					<h4 class="newsTitle">Latest <%= game.name %> News</h4>
					<a href="/newsPosts/<%= game.id %>" class="allNews">All <%= game.name %> News</a>
				</div>
				<% articles.forEach(article => { %>
				<div class="newsArticle">
					<div class="articleLeft">
						<p class="articleTitle"><%= article.title %></p>
						<p class="articleDate"><%- dateAndTime.format(article.postTime, 'MMMM DD, YYYY HH:mm') %>
						</p>
						<a href="#" class="articleLink">Full Article</a>
					</div>
					<div class="articleRight">
						<img src="/img/games/<%= game.img %>" class="articleImage">
					</div>
				</div>
				<% }) %>
		</div>
	</div>

	</div>
	<%- include("partials/footer") %>
	<%- include("partials/scripts") %>
</body>

</html>